/* login */
.bgf5{background:#ebebeb;width: 100%;height: 100%;}
.header_back {position: absolute;top: 10px;left: 10px;}
.header_back img{width: .5rem;}
.login-container{width: 100%;}
.language{width: 100%;display: -webkit-box;display: -ms-flexbox;display: flex;-webkit-box-pack: end;-ms-flex-pack: end;justify-content: flex-end;padding: .5rem .3rem}
.yuyan{font-size: .32rem;color: #000;display: flex;align-items: center;}
.yuyan select{font-size: .28rem;background: none;border: none;color: #a1a1a1;outline: none;} 
.yuyan option{color: #a1a1a1;}
.logo{ width:100%; text-align: center;position: relative;top: -0.95rem}
.logo img{ width: 2.5rem;  }
.formbox{ width: 90%; margin: 0 auto; margin-top: 1rem; text-align: center; border-radius:8px; -webkit-border-radius:8px; -moz-border-radius:8px; -ms-border-radius:8px; -o-border-radius:8px; }
.formlogin{width:80%;margin: 0 auto;color: #000;font-size: .31rem;position: relative;top: -0.55rem;}
.input_box{width: 100%;margin-top: .5rem;}
.input_box input{ width: 100%; padding: .2rem 0;font-size:.31rem; background: none; text-align: center; margin-top: .2rem;  border-bottom: 1px solid #000;color:#000;}
.inde-btn button{ margin:1rem 0;width: 100%; padding: .2rem 0;background: none;color: #000; border: 1px solid #000; -moz-border-radius:.1rem; -ms-border-radius:.1rem; -o-border-radius:.1rem; }
.extra_btn{display: -webkit-box;display: -ms-flexbox;display: flex;-webkit-box-pack: justify;-ms-flex-pack: justify;justify-content: space-between;}
.extra_btn a{color: #000;}
#loginForm input{
	color:#000;

}

/* register */
.register-title{color: #000;font-size: .4rem;text-align: center;padding: .5rem 0;letter-spacing: .1rem;text-indent: .1rem;}
.formrgister{width: 80%;margin:0 auto;padding-top: .2rem;font-size: .31rem;}
.register-container .formbox{margin-top: 0;}
.formrgister .input_box{margin-top: .3rem;}
.formrgister .input_box p{color: #000}
.formrgister .inde-btn button{margin: .5rem 0;}
.register-container .extra_btn{-webkit-box-pack: center;-ms-flex-pack: center;justify-content: center;margin: .5rem 0 1rem 0;}
.input_box .input-code{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack: justify;-ms-flex-pack: justify;justify-content: space-between;-webkit-box-align: center;-ms-flex-align: center;align-items: center;margin-top: .2rem;}
.input_box .input-code input{width: 60%;margin: 0;}
.input_box .input-code img{ width: 35%;height: .66rem; border-radius:.1rem; -webkit-border-radius:.1rem; -moz-border-radius:.1rem; -ms-border-radius:.1rem; -o-border-radius:.1rem; }
.input_box .phone-code{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center}
.input_box .phone-code input{width:50%;height:0.72rem;border-radius:0;color:#000;}
.input_box .phone-code a{width: 50%;height:0.72rem; display: block;color:#000;margin-top: .2rem;padding: .2rem 0;background: #ee2525;font-size:.28rem;border-top-right-radius:.1rem;border-bottom-right-radius:.1rem;}
.reg_agreement{
	width:100%;
	height:30px;
}
.reg_agreement input{
	width:10%;
	font-size:2rem;
	height: .3rem;
	float:left;
	margin-top: 14px;
	
}
.reg_agreement a{
	width:80%;
	color:#000;
	text-decoration:outline !important;
	height:30px;
	line-height:30px;
	float:left;
	text-align:left;
	
}
/* getpsw */
.formgetpsw .input_box p{color: #000}
.formgetpsw .input_box {margin-top: .5rem;}
.getpwd-title{padding-top:1rem}