<extend name="Public/layout"/>
<block name="style" >
    <link rel="stylesheet" type="text/css" href="__LYUI__/css/lyui.extend.min.css">
    <link rel="stylesheet" type="text/css" href="__ADMIN_CSS__/style.css">
</block>

<block name="main">
   <div id="main" class="col-xs-12 col-sm-9 main" style="overflow-y: scroll;">
        <!-- 面包屑导航 -->
        <ul class="breadcrumb">
            <li><i class="fa fa-map-marker"></i></li>
            <foreach name="_menu_tab['name']" item="tab_v" >
            <li class="text-muted">{$tab_v}</li>
            </foreach>
            <li class="text-muted">{:isset($info)?'修改':新增}</li>
        </ul>

        <!-- 主体内容区域 -->
        <div class="tab-content ct-tab-content">
            <div class="panel-body">
                <div class="builder formbuilder-box">
                    <div class="form-group"></div>
                    <div class="builder-container" >
                            <div class="row" >
                                <div class="col-xs-12">
                                    <form action="__SELF__" method="post" class="form-horizontal form form-builder">
                                        <div class="form-type-list">
                                            <div class="form-group hidden item_id ">
                                                <label class="left control-label">ID：</label>
                                                <div class="right">
                                                    <input type="hidden" class="form-control input" name="userid" value="{$info.userid}">
                                                </div>
                                            </div>

                                            <div class="form-group item_title ">
                                                <label class="left control-label">上级：</label>
                                                <div class="right">
                                                    {$info.parent}
                                                </div>
                                            </div>
                                            
                                            <div class="form-group item_title ">
                                                <label class="left control-label">账号：</label>
                                                <div class="right">
                                                    <input type="text" class="form-control input" name="account" value="{$info.account}" placeholder="账号" >
                                                </div>
                                            </div>
                                            <div class="form-group item_title ">
                                                <label class="left control-label">姓名：</label>
                                                <div class="right">
                                                    <input type="text" class="form-control input" name="username" value="{$info.username}" placeholder="用户名" >
                                                </div>
                                            </div>

                                            <div class="form-group item_title ">
                                                <label class="left control-label">手机：</label>
                                                <div class="right">
                                                    <input type="text" class="form-control input text" name="mobile" value="{$info.mobile}" placeholder="手机">
                                                </div>
                                            </div>
                                            
                                            <div class="form-group item_title ">
                                                <label class="left control-label">自动预约天数：</label>
                                                <div class="right">
                                                    <input type="text" class="form-control input text" name="automatic_paidan_day" value="{$info.automatic_paidan_day}" placeholder="天数">
                                                </div>（0表示关闭）
                                            </div>

                                            <div class="form-group item_title ">
                                                <label class="left control-label">激活状态：</label>
                                                <div class="auth3" style="line-height:120%;" >
                                               
                                               <label class="checkbox-inline" style="margin-top: 10px;margin-left: 0px;">
                                                <input type="radio" name="activate"  
                                                 <if condition="$info[activate] eq 1">checked</if> value="1">
                                                <span class="cui-control-indicator"></span>
                                                <span>已激活</span>
                                               </label>

                                               <label class="checkbox-inline" style="margin-top: 10px;margin-left: 0px;">
                                                <input type="radio" name="activate"  
                                                <if condition="$info[activate] eq 0">checked</if> value="0">
                                                <span class="cui-control-indicator"></span>
                                                <span>未激活</span>
                                               </label>

                                                </div>
                                            </div>


                                          
                                            <div class="form-group item_title ">
                                                <label class="left control-label">登录密码：</label>
                                                <div class="right">
                                                    <input type="password" class="form-control input text" name="login_pwd" placeholder="留空则不做修改" >
                                                </div>
                                            </div>
                                             <div class="form-group item_title ">
                                                <label class="left control-label">确认登录密码：</label>
                                                <div class="right">
                                                    <input type="password" class="form-control input text" name="relogin_pwd" value="" placeholder="确认登录密码">
                                                </div>
                                            </div>

                                             <div class="form-group item_title ">
                                                <label class="left control-label">交易密码：</label>
                                                <div class="right">
                                                    <input type="password" class="form-control input text" name="safety_pwd" placeholder="留空则不做修改" >
                                                </div>
                                            </div>
                                             <div class="form-group item_title ">
                                                <label class="left control-label">确认交易密码：</label>
                                                <div class="right">
                                                    <input type="password" class="form-control input text" name="resafety_pwd" value="" placeholder="确认交易密码">
                                                </div>
                                            </div>

                                            <div class="form-group item_title ">
                                                <label class="left control-label">持卡人姓名：</label>
                                                <div class="right">
                                                    <input type="text" class="form-control input text" name="hold_name" value="{$user_bank['hold_name']}" placeholder="持卡人姓名">
                                                </div>
                                            </div>
                                            <input name="id" value="{$user_bank['id']}" type="hidden" />
                                            <div class="form-group item_title ">
                                                <label class="left control-label">开户银行：</label>
                                                <div class="right">
                                                    <select name="card_id">
                                                        <option value="0">请选择开户银行</option>
                                                        <volist name="bakinfo" id="vo">
                                                            <option value="{$vo['q_id']}" {$user_bank['card_id']==$vo['q_id']?'selected':''}>{$vo['banq_genre']}</option>
                                                        </volist>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group item_title ">
                                                <label class="left control-label">银行卡号：</label>
                                                <div class="right">
                                                    <input type="number" class="form-control input text" name="card_number" value="{$user_bank['card_number']}" placeholder="银行卡号">
                                                </div>
                                            </div>
                                            <div class="form-group item_title ">
                                                <label class="left control-label">开户支行：</label>
                                                <div class="right">
                                                    <input type="text" class="form-control input text" name="open_card" value="{$user_bank['open_card']}" placeholder="开户支行">
                                                </div>
                                            </div>
                                            <div class="form-group item_title ">
                                                <label class="left control-label">支付宝账号：</label>
                                                <div class="right">
                                                    <input type="text" class="form-control input text" name="alipay_number" value="{$user_bank['alipay_number']}" placeholder="支付宝账号">
                                                </div>
                                            </div>
                                          <!--   <div class="form-group item_title ">
                                                <label class="left control-label">sex：</label>
                                                <div class="right">
                                                    <input type="text" class="form-control input" name="sex" value="{$info.sex}" placeholder="是否" >
                                                </div>
                                            </div> -->
                                            <div class="form-group item_title ">
                                                <label class="left control-label">抢单限制：</label>
                                                <div class="auth3" style="line-height:120%;" >
                                               
                                               <label class="checkbox-inline" style="margin-top: 10px;margin-left: 0px;">
                                                <input type="radio" name="quanxian"  
                                                 <if condition="$info[quanxian] eq 1">checked</if> value="1">
                                                <span class="cui-control-indicator"></span>
                                                <span>开启</span>
                                               </label>

                                               <label class="checkbox-inline" style="margin-top: 10px;margin-left: 0px;">
                                                <input type="radio" name="quanxian"  
                                                <if condition="$info[quanxian] eq 0">checked</if> value="0">
                                                <span class="cui-control-indicator"></span>
                                                <span>关闭</span>
                                               </label>

                                                </div>
                                            </div>

                                            <div class="form-group item_title ">
                                                <label class="left control-label">是否代理：</label>
                                                <div class="auth3" style="line-height:120%;" >
                                               
                                               <label class="checkbox-inline" style="margin-top: 10px;margin-left: 0px;">
                                                <input type="radio" name="is_daili"  
                                                 <if condition="$info[is_daili] eq 1">checked</if> value="1">
                                                <span class="cui-control-indicator"></span>
                                                <span>开启</span>
                                               </label>

                                               <label class="checkbox-inline" style="margin-top: 10px;margin-left: 0px;">
                                                <input type="radio" name="is_daili"  
                                                <if condition="$info[is_daili] eq 0">checked</if> value="0">
                                                <span class="cui-control-indicator"></span>
                                                <span>关闭</span>
                                               </label>

                                                </div>
                                            </div>
             
                                        <div class="form-group"></div>
                                        <div class="form-group bottom_button_list">
                                            <a class="btn btn-primary submit ajax-post" type="submit" target-form="form-builder">确定</a>
                                            <a class="btn btn-danger return" onclick="javascript:history.back(-1);return false;">取消</a>
                                        </div>
                                    </div>
                                </form>
                            </div>    
                        </div>
                    </div>
                </div>
        </div>
    </div>                   
</div>
</block>

<block name="script">
    <script type="text/javascript" src="__LYUI__/js/lyui.extend.min.js"></script>
</block>