<extend name="Public/layout"/>
<block name="style" >
	<link rel="stylesheet" type="text/css" href="__LYUI__/css/lyui.extend.min.css">
	<link rel="stylesheet" type="text/css" href="__ADMIN_CSS__/style.css">
</block>

<block name="main">
   <div id="main" class="col-xs-12 col-sm-9 main" style="overflow-y: scroll;">
		<!-- 面包屑导航 -->
		<ul class="breadcrumb">
			<li><i class="fa fa-map-marker"></i></li>
			<foreach name="_menu_tab['name']" item="tab_v" >
			<li class="text-muted">{$tab_v}</li>
			</foreach>
		</ul>

		<!-- 主体内容区域 -->
		<div class="tab-content ct-tab-content">
			<div class="panel-body">
				<div class="builder formbuilder-box">
						<div class="builder-toolbar">
								<div class="row">
									<!-- 工具栏按钮 -->
										<!-- <div class="col-xs-12 col-sm-8 button-list clearfix">
											<div class="form-group">
												<a title="新增" class="btn btn-primary-outline btn-pill" href="{:U('User/add')}">新增</a>&nbsp;
											</div>
										</div> -->
	
									<!-- 搜索框 -->
									<div class="col-xs-12 col-sm-12 clearfix">
										<form class="form" method="get" action="">
											<div class="form-group right">
	
												<div style="float:left;width:150px;margin-right:20px" class="">
													<input type="text" name="date_start" class="search-input form-control date" value="{$_GET.date_start}" placeholder="开始日期">
												</div>
												<div style="float:left;width:150px;margin-right:20px" class="">
													<input type="text" name="date_end" class="search-input form-control date" value="{$_GET.date_end}" placeholder="结束日期">
												</div>
	
												<div style="float:left;background: royalblue; margin-right:20px" class="">
													<input type="button" class="search-input form-control "value="导出表格" style="background: royalblue;color:seashell" onclick="daochu()">
												</div>
												<?php if(I('type')==2 && I('first')==1){?>
													<?php if(in_array(5,$financials) || $auth_id==1){ ?>
														<div style="float:left;background: royalblue; margin-right:20px" class="">
															<input type="button" class="search-input form-control "value="批量通过" style="background: #34d293;color:seashell" onclick="tongquall(1)">
														</div>
													<?php }?>
													<?php if(in_array(6,$financials) || $auth_id==1){ ?>
														<div style="float:left;background: royalblue; margin-right:20px" class="">
															<input type="button" class="search-input form-control "value="批量取消" style="background: #edbf3b;color:seashell" onclick="tongquall(2)">
														</div>
													<?php }?>
												<?php }else{?>
													<?php if(in_array(8,$financials) || $auth_id==1){ ?>
														<div style="float:left;background: royalblue; margin-right:20px" class="">
															<input type="button" class="search-input form-control "value="批量通过" style="background: #34d293;color:seashell" onclick="tongquall(1)">
														</div>
													<?php }?>
													<?php if(in_array(9,$financials) || $auth_id==1){ ?>
														<div style="float:left;background: royalblue; margin-right:20px" class="">
															<input type="button" class="search-input form-control "value="批量取消" style="background: #edbf3b;color:seashell" onclick="tongquall(2)">
														</div>
													<?php }?>
												<?php }?>
												<br><br>
												<div class="sum" style="font-size: 20px; float: left; padding: 10px;color: #333;">
													<div>总金额:{$zongjine|default='0'}</div>
												</div>
												<!-- <div class="sum"> -->
												
												<!-- </div> -->
											</div>
										</form>
									</div>
								</div>
							</div>
					<div class="builder-tabs builder-form-tabs">
						<?php $type=I('type'); ?>
						<ul class="nav nav-tabs">
							<li <neq name="type" value="over" >class="active"</neq> >
								<a href="javascript:void(0);">交易匹配列表</a>
							</li>
						</ul>
					</div>
					<div class="form-group"></div>
					<div class="builder-container" >
						<div class="form-group"></div>

						<!-- 数据列表 -->
						<div class="builder-container">
							<div class="row">
								<div class="col-xs-12">
									<div class="builder-table">
										<div class="panel panel-default table-responsive">
											<table class="table table-bordered table-striped table-hover">
											  <thead>
												<tr>
													<th>选择</th>
													<th>订单号</th>
													<th>买入会员ID</th>
													<th>姓名</th>
													<th>匹配人数</th>
													<th>金额</th>
													<th>剩余金额</th>
													<th>卖出会员ID</th>
													<th>匹配时间</th>
													<th>排单时间</th>
													<th>日期</th>
													<th>剩余冻结订单</th>
													<th>最后解冻时间</th>
													<th>类型</th>
													<th>操作1</th>
													<th>操作2</th>
												</tr>
											</thead>
												<tbody>
													<volist name="list" id="data">
														<tr>
															<td><input type="checkbox" name="ids" id="ids" value="{$data['id']}"></td>
															<td>{$data['pay_no']}</td>
															<td>{$data['payin_id']}</td>
															<td>{$data['username']}</td>
															<td>{$data['peo_num']}</td>
															<td>{$data['pay_nums']}
																<if condition="$data['yuyue_first_tail'] eq 1">
																预付款
																<elseif condition="$data['yuyue_first_tail'] eq 2" />
																尾款
																</if>
															</td>
															<td>{$data['cangku_num']}</td>
															<td>{$data['payout_id']}</td>
															<td>
																<if condition="$data['pipeitime'] eq 0">
																		暂未匹配
																<else/>
																	{$data['pipeitime']|date='Y-m-d H:i:s',###}
																	
																</if>
															</td>
															<td>
																<?php echo ceil((time()-$data['pay_time'])/86400).'天'; ?>
															</td>
															<!-- <td>
																<a href="{$data['trans_img']}" target="_blank">
																	<img src="{$data['trans_img']}" style="width:50px;height:50px;left:0px;z-Index:-1;"/>
																</a>
															</td> -->
															<!-- <td>
																<switch name="data[pay_state]">
																	<case value="0">排队中，等待匹配</case>
																	<case value="1">匹配完成，等待打款</case>
																	<case value="2">打款完成，等待确认</case>
																	<case value="3">确认完成</case>
																	<case value="4"><p style="color: red;">卖家已投诉</p></case>
																	<case value="5"><p style="color: red;">买家已投诉</p></case>
																</switch>
															</td>
															<td>
																<if condition="$data['pay_state'] eq 4">
																	<a name="chongxin" title="取消匹配，重新上架" class="label label-danger-outline label-pill confirm"  href="{:U('Finance/chongxin',array('id'=>$data['id']))}">取消匹配，重新上架</a>
																</if>
															</td> -->
														<td>{$data['pay_time']|date='Y-m-d H:i:s',###}</td>
														<td>{$data['djcount']}</td>
														<td>{$data['dj_time']|date='Y-m-d H:i:s',###}</td>
														<td>
															<if condition="$data['form'] eq 0">
																买入订单
															<elseif condition="$data['form'] eq 2"/>
																预约订单
															<elseif condition="$data['form'] eq 3"/>
																抢单订单
															</if>
														</td>
														<if condition="I('type') eq 0">
														<td>						
															<?php if(in_array(1,$financials) || $auth_id==1){ ?>										
																<a name="matching" title="匹配" class="label label-primary-outline label-pill confirm"  href="{:U('Finance/pipei',array('id'=>$data['id'],'payin_id'=>$data['payin_id']))}">匹配</a>
															<?php }?>
														</td>
														</if>
														<td>
															<if condition="$data['form'] eq 2 AND I('first') eq 1">
																<if condition="$data['yuyue_state'] eq 0">
																	<?php if(in_array(5,$financials) || $auth_id==1){ ?>
																		<a href="javascript:" onclick="tongqu(1,'{$data.id}')">通过</a>&nbsp&nbsp
																	<?php }?>
																	<?php if(in_array(6,$financials) || $auth_id==1){ ?>
																		<a href="javascript:" onclick="tongqu(2,'{$data.id}')">取消</a>
																	<?php }?>
																	<elseif condition="$data['yuyue_state'] eq 1" />
																		通过
																	<elseif condition="$data['yuyue_state'] eq 2" />
																	 	未通过
																</if>
															</if>
															<if condition="$data['form'] eq 2 AND I('first') eq 2">
																<if condition="$data['yuyue_state'] eq 0">
																	<?php if(in_array(8,$financials) || $auth_id==1){ ?>
																		<a href="javascript:" onclick="tongqu(1,'{$data.id}')">通过</a>&nbsp&nbsp
																	<?php }?>
																	<?php if(in_array(9,$financials) || $auth_id==1){ ?>
																		<a href="javascript:" onclick="tongqu(2,'{$data.id}')">取消</a>
																	<?php }?>
																	<elseif condition="$data['yuyue_state'] eq 1" />
																		通过
																	<elseif condition="$data['yuyue_state'] eq 2" />
																	 	未通过
																</if>
															</if>
														</td>
														
														</tr>
													</volist>
													
													<empty name="list">
														<tr class="builder-data-empty">
															<td class="text-center empty-info" colspan="20">
																<i class="fa fa-database"></i> 暂时没有数据<br>
															</td>
														</tr>
													</empty>
												</tbody>
											</table>
										</div>

										<notempty name="table_data_page">
											<ul class="pagination">{$table_data_page}</ul>
										</notempty>
									</div>
								</div>
							</div>
						</div>
					</div>
			</div>
		</div>
	</div>                   
</div>
</block>

<block name="script">
	<script type="text/javascript" src="__LYUI__/js/lyui.extend.min.js"></script>
	<script type="text/javascript" src="__LYUI__/js/layer/layer.js"></script>
	<script type="text/javascript">
		function tongqu(state,id){
			if(state==1){
				var con = '通过';
			}else{
				var con = '取消';
			}
			if (confirm("是否执行"+con+"操作？")) {  
				$.post("{:U('Finance/trans_state_yuyue')}",{id:id,state:state},function(res){
					if(res==1){
						location.reload();
					}else{
						alert('出错了');
					}
				});
        	}  
		}
		function tongquall(state){
			
			var idstr =[];

			$('input[name="ids"]:checked').each(function(){
				idstr.push($(this).val());
			});
			if(idstr==null||idstr==""){
				alert('请选择数据');
				return;
			}
			var url = "{:U('Finance/trans_state_yuyue_all')}";
			$.get(url,{"ids":idstr,'state':state},function(msg){
				if(msg==1) {                                   
					location.reload();
				}else{
					alert(msg);
				}
			})
		}
		function settime(){
			var id = $('#mid').attr('mid');
			var dj_time = $('#recipient-name').val();
			$.ajax({
				url:'/admin/Finance/do_dj',
				type:'post',
				data:{'id':id,'dj_time':dj_time},
				datatype:'json',
				success:function (mes) {
					if(mes.status == 1){
						alert('非法操作！');
					}else if(mes.status == 2){
						alert('冻结时间需为整数且在0到20之间');
					}else if(mes.status == 3){
						alert('设置成功');
						location.reload();
					}
				}
			})
		}
		
		function daochu(){
			var date_start = $('input[name="date_start"]').val();
			var date_end = $('input[name="date_end"]').val();
			if(date_start==''||date_end==''){
				layer.msg('请选择日期');
				return;
			}
			window.location.href = '/admin/Finance/cannot_derivedExcel?date_start='+date_start+'&date_end='+date_end
		}

		$('.date').datetimepicker({
            format: 'yyyy-mm-dd',
            language:"zh-CN",
            minView:2,
            autoclose:true,
            todayBtn:1, //是否显示今日按钮
        });
	</script>
</block>